@{
    ViewData["Title"] = "All Pages View";
}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="text-center">
    @*<hr />*@
    <div style="float: left;">
        <span style="margin-right: -5px;" class="w3-tag w3-cyan">E</span>
        <span style="margin-right: -4px;" class="w3-tag ">B</span>
        <span class="w3-tag w3-yellow">A</span>
    </div>
    <hr style="border-color: blanchedalmond;  margin-top:-12px;" />
    <div style="float: right;margin-left: 108px;">
        <p><span  align="text-right" class="w3-tag w3"> With EBA your Money is secure!</span></p>
    </div>
    <hr style="border-color: #4CAF50; border-width:23px; border-bottom-color: black;"/>
    <hr style="border-color: black; margin-top:-17px;"/>
</div>



