
@{
    ViewData["Title"] = "FailClosure";
}

<h1 style="font-weight: bold; color:red">Sorry are not allow to close this Account because the Balance is positive!!!</h1>
<p>Please Empty the Balance or Pay your loan and try again</p>
<hr />
<a style="color:darkgreen" asp-controller="Customers" asp-action="CustomerWelcome">Return to Menu</a>


