
@{
    ViewData["Title"] = "TransactionFail";
}

<h1 style="font-weight: bold; color:red">Sorry You are not allow to make this transaction!!!!</h1>
<hr />
<a style="color:darkgreen" asp-controller="Customers" asp-action="CustomerWelcome">Return to Menu</a>

